@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .modal {
        @apply inset-0 backdrop:bg-transparent backdrop:backdrop-blur-sm border-2 rounded-md p-4;
    }
    .modal h3 {
        @apply font-semibold py-1;
    }
    .modal .tab-input {
        @apply border border-green-600 focus:outline-none p-2 my-2 rounded;
    }
    .modal .task-input {
        @apply border text-sm w-full focus:outline-none p-2 my-2 rounded focus:border-stone-300;
    }
}

@layer utilities {
    .selected-tab {
        @apply text-green-600 border-b border-green-600;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .navbar::-webkit-scrollbar {
        display: none;
    }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    .navbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
